<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Examples.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Examples: Interactive visualisation in Python 



In this train, we will focus on creating unique and interactive visualisations. We will learn how to make our code block outputs interactive for the end user.

> ⚠️ **Note:** An active internet connection is needed to complete the exercises within this notebook. 

> ⚠️ **Note:** This exercise works best when executed in a Jupyter notebook.

## Learning objectives
By the end of this train, you should be able to:
* Create advanced custom visualisations in Python.
* Create interactive visualisations in a Jupyter notebook.

## Introduction

Sometimes we require interaction in our Jupyter notebooks rather than a PowerBI dashboard. A potential reason would be to employ more sophisticated technology to meet typical business intelligence use cases. Traditional BI tools are ideal for creating dashboards created from SQL or CSV data. However, when we try to display information created by more sophisticated logic, we often fall short.

With interactive widgets in a notebook, we can leverage the full power of Python to express calculations and build visualisations while exposing "our logic" to the end user, allowing them to modify aspects of the visualisation. We may either add a few interactive controls and plots to notebooks or build completely functional applications and interactive dashboards. Both can be created with components from the built-in core widgets, such as `buttons`, `sliders`, and `dropdowns`, or with the rich ecosystem of custom widget libraries based on the Jupyter widgets framework, such as interactive maps with `ipyleaflet` or `2-D plots` with `bqplot`.

## Getting the notebook ready
Let's ensure we have the relevant packages installed.

### Step 1: Install the relevant packages

In [ ]:
# pip install scipy

In [ ]:
# pip install ipywidgets

In [ ]:
# pip install chart-studio

In [ ]:
# pip install pyarrow

In [ ]:
# pip install cufflinks

### Step 2: Enable interactive visualisations in Jupyter

In [1]:
!jupyter nbextension enable --py widgetsnbextension

usage: jupyter [-h] [--version] [--config-dir] [--data-dir] [--runtime-dir]
               [--paths] [--json] [--debug]
               [subcommand]

Jupyter: Interactive Computing

positional arguments:
  subcommand     the subcommand to launch

options:
  -h, --help     show this help message and exit
  --version      show the versions of core jupyter packages and exit
  --config-dir   show Jupyter config dir
  --data-dir     show Jupyter data dir
  --runtime-dir  show Jupyter runtime dir
  --paths        show all Jupyter paths. Add --json for machine-readable
                 format.
  --json         output paths as machine-readable json
  --debug        output debug information about paths

Available subcommands: dejavu events execute kernel kernelspec lab
labextension labhub migrate nbconvert notebook run server troubleshoot trust

Jupyter command `jupyter-nbextension` not found.

### Step 3: Import the required packages

In [2]:
# Standard data science helpers
import numpy as np
import pandas as pd
import scipy

# Instantiate the Plotly charting library.
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly.express as px
# We use plotly.offline as this allows us to create interactive 
# visualisations without the use of an internet connection, 
# making our notebook more distributable to others. 
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected=True)

# The Cufflinks library allows us to directly bind 
# Pandas DataFrames to Plotly charts. 
import cufflinks as cf
# Once again, we use the Cufflinks library in offline mode. 
cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)

# Extra options. We use these to make our interactive 
# visualisations more aesthetically appealing. 
from IPython.core.display import HTML
pd.options.display.max_rows = 30
pd.options.display.max_columns = 25

# Show all code cells outputs.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Step 4: Read in the data

For this project, we'll work with some stats data from `medium.com`.

In [3]:
df = pd.read_parquet('https://github.com/WillKoehrsen/Data-Analysis/blob/master/medium/data/medium_data_2019_01_26?raw=true')
df.head()

,claps,days_since_publication,fans,link,num_responses,publication,published_date,read_ratio,read_time,reads,started_date,tags,text,title,title_word_count,type,views,word_count,claps_per_word,editing_days,<tag>Education,<tag>Data Science,<tag>Towards Data Science,<tag>Machine Learning,<tag>Python
129,2,597.301123,2,https://medium.com/p/screw-the-environment-but...,0,None,2017-06-10 14:25:00+00:00,42.17,7,70,2017-06-10 14:24:00+00:00,"[Climate Change, Economics]","Screw the Environment, but Consider Your Walle...","Screw the Environment, but Consider Your Wallet",8,published,166,1859,0.001076,0,0,0,0,0,0
125,18,589.983168,3,https://medium.com/p/the-vanquishing-of-war-pl...,0,None,2017-06-17 22:02:00+00:00,30.34,14,54,2017-06-17 22:02:00+00:00,"[Climate Change, Humanity, Optimism, History]","The Vanquishing of War, Plague and Famine Part...","The Vanquishing of War, Plague and Famine",8,published,178,3891,0.004626,0,0,0,0,0,0
132,51,577.363292,20,https://medium.com/p/capstone-project-mercedes...,0,None,2017-06-30 12:55:00+00:00,20.02,42,222,2017-06-30 12:00:00+00:00,"[Machine Learning, Python, Udacity, Kaggle]",Capstone Project: Mercedes-Benz Greener Manufa...,Capstone Project: Mercedes-Benz Greener Manufa...,7,published,1109,12025,0.004241,0,0,0,0,1,1
126,0,576.520688,0,https://medium.com/p/home-of-the-scared-5af0fe...,0,None,2017-07-01 09:08:00+00:00,35.85,9,19,2017-06-30 18:21:00+00:00,"[Politics, Books, News, Media Criticism]",Home of the Scared A review of A Culture of Fe...,Home of the Scared,4,published,53,2533,0.000000,0,0,0,0,0,0
121,0,572.533035,0,https://medium.com/p/the-triumph-of-peace-f485...,0,None,2017-07-05 08:51:00+00:00,8.47,14,5,2017-07-03 20:18:00+00:00,"[Books, Psychology, History, Humanism]",The Triumph of Peace A review of The Better An...,The Triumph of Peace,4,published,59,3892,0.000000,1,0,0,0,0,0

Let's have a quick descriptive look at the data we've just pulled:

In [4]:
df.describe()

,claps,days_since_publication,fans,num_responses,read_ratio,read_time,reads,title_word_count,views,word_count,claps_per_word,editing_days,<tag>Education,<tag>Data Science,<tag>Towards Data Science,<tag>Machine Learning,<tag>Python
count,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000
mean,1815.263158,248.407273,352.052632,7.045113,29.074662,12.917293,6336.300752,7.127820,23404.030075,3029.120301,0.957638,20.330827,0.729323,0.609023,0.436090,0.383459,0.315789
std,2449.074661,179.370879,479.060117,9.056108,12.417670,9.510795,9007.284726,3.158475,33995.636496,2393.414456,1.846756,74.111579,0.445989,0.489814,0.497774,0.488067,0.466587
min,0.000000,1.218629,0.000000,0.000000,8.110000,1.000000,1.000000,2.000000,3.000000,163.000000,0.000000,-13.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,121.000000,74.543822,23.000000,0.000000,20.020000,8.000000,363.000000,5.000000,1375.000000,1653.000000,0.052115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,815.000000,245.416130,136.000000,4.000000,27.060000,10.000000,2049.000000,7.000000,7608.000000,2456.000000,0.421525,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,2700.000000,376.080598,528.000000,12.000000,34.910000,14.000000,7815.000000,8.000000,30141.000000,3553.000000,1.099366,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,13600.000000,597.301123,2588.000000,59.000000,74.370000,54.000000,41978.000000,16.000000,173714.000000,15063.000000,17.891817,349.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df.isnull().sum()

claps                        0
days_since_publication       0
fans                         0
link                         0
num_responses                0
publication                  0
published_date               0
read_ratio                   0
read_time                    0
reads                        0
started_date                 0
tags                         0
text                         0
title                        0
title_word_count             0
type                         0
views                        0
word_count                   0
claps_per_word               0
editing_days                 0
<tag>Education               0
<tag>Data Science            0
<tag>Towards Data Science    0
<tag>Machine Learning        0
<tag>Python                  0
dtype: int64

## Interactive visualisations
We'll now work through a few examples of interactive visualisations. We'll start with a simple filter to see how the interface works.

### Example 1

In [6]:
from ipywidgets import interact, interact_manual, widgets

To make a function interactive, we need to use the ```@interact``` decorator. 

But wait, what's a decorator? 

Simply put, a decorator is a Python function that wraps around another declared function to enhance or augment its behaviour, like putting a ribbon around a present to make it look prettier as a gift. We won't go into the semantics of how to _create_ a decorator, but you can easily spot them above a function with the form ``@decorator_name``. 
For more information, see: https://realpython.com/primer-on-python-decorators/

Consider the code below.

In [7]:
@interact
def show_articles_more_than(column='claps', x=5000):
    display(HTML(f'<h4>Showing articles with more than {x} {column}<h4>'))
    display(df.loc[df[column] > x, ['title', 'claps', 'published_date', 'read_time', 'tags', 'views', 'reads']])

,title,claps,published_date,read_time,tags,views,reads
100,Stock Prediction in Python,7300,2018-01-19 15:30:00+00:00,12,"[Machine Learning, Data Science, Programming, ...",134699,41978
88,Python is the Perfect Tool for any Problem,12900,2018-02-04 09:12:00+00:00,3,"[Python, Programming, Education, Data Science,...",48157,30099
89,Markov Chain Monte Carlo in Python,5100,2018-02-09 22:29:00+00:00,12,"[Machine Learning, Data Science, Programming, ...",57830,16735
83,Bayes’ Rule Applied,6000,2018-02-14 11:27:00+00:00,9,"[Statistics, Programming, Education, Data Anal...",35505,11491
82,Beyond Accuracy: Precision and Recall,7000,2018-03-03 11:10:00+00:00,11,"[Machine Learning, Data Science, Education, St...",128661,26327
84,Controlling the Web with Python,7000,2018-03-10 16:16:00+00:00,9,"[Python, Education, Programming, Internet, Tow...",65054,14614
75,Introduction to Bayesian Linear Regression,5500,2018-04-13 20:38:00+00:00,10,"[Data Science, Education, Statistics, Learning...",58471,19805
65,"Web Scraping, Regular Expressions, and Data Vi...",8000,2018-04-28 15:27:00+00:00,7,"[Data Science, Programming, Education, Compute...",68317,21607
69,A Complete Machine Learning Project Walk-Throu...,13600,2018-05-16 12:33:00+00:00,15,"[Machine Learning, Education, Data Science, Py...",124970,23587
62,Machine Learning Kaggle Competition Part One: ...,6400,2018-05-28 11:39:00+00:00,12,"[Data Science, Machine Learning, Towards Data ...",43577,10398
66,Automated Feature Engineering in Python,8500,2018-06-02 10:01:00+00:00,11,"[Machine Learning, Towards Data Science, Data ...",114762,25139
63,A Feature Selection Tool for Machine Learning ...,5500,2018-06-22 10:12:00+00:00,10,"[Machine Learning, Python, Education, Programm...",80618,20592
19,The Next Level of Data Visualization in Python,7600,2019-01-08 22:09:00+00:00,8,"[Data Science, Data Visualization, Python, Edu...",71225,24002

interactive(children=(Text(value='claps', description='column'), IntSlider(value=5000, description='x', max=15…

The ```@interact``` decorator automatically inferred that we wanted a text box for the column and an interactive slider. This decorator makes it incredibly simple to add interactivity.

### Example 2

Now we will add a dropdown menu to select which column to filter on while simultaneously adding limits for x. 

A dropdown menu can be useful when we need to enforce constraints on the interaction.

In [8]:
@interact
def show_titles_more_than(x=(10, 50000, 10),
                          column=['read_time', 'views', 'reads']):
    display(HTML(f'<h4>Showing articles with more than {x} {column}<h4>'))
    display(df.loc[df[column] > x, ['title', 'published_date', 'read_time', 'tags', 'views', 'reads']])

Empty DataFrame
Columns: [title, published_date, read_time, tags, views, reads]
Index: []

interactive(children=(IntSlider(value=25000, description='x', max=50000, min=10, step=10), Dropdown(descriptio…

### Example 3

Moving on to more sophisticated data relationships that may be interactively represented, we construct a widget that quickly finds the correlation between two columns in the dataset.

In [ ]:
@interact
def correlations(column1=list(df.select_dtypes('number').columns), 
                 column2=list(df.select_dtypes('number').columns)):
    print(f"Correlation: {df[column1].corr(df[column2])}")

Within the above code example, we need to specify Pandas columns that are of a numeric type using the code `df.select_dtypes('number')` because the correlation statistic is only defined between numeric values.

### Example 4

We can use the same basic approach to create interactive widgets for plots. This approach allows us to expand the capabilities of the powerful `plotly` visualisation library.

In [ ]:
@interact
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:]):
    if x == y:
        print(f"Please select separate variables for X and Y")
    else:
        df.iplot(kind='scatter', x=x, y=y, mode='markers', 
                 xTitle=x.title(), yTitle=y.title(), title=f'{y.title()} vs {x.title()}')
        ## If you are using Google Colab, comment out the above line of code and uncomment the lines below
        #fig = px.scatter(df, x=x, y=y, title=f'{y.title()} vs {x.title()}')
        #fig.show(renderer="colab")

### Example 5

In a similar fashion to the previous example, we can create a customisable heatmap of correlations:

In [ ]:
cscales = ['Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Bluered', 'RdBu',
            'Reds', 'Blues', 'Picnic', 'Rainbow', 'Portland', 'Jet',
            'Hot', 'Blackbody', 'Earth', 'Electric', 'Viridis', 'Cividis']

# We use the Figure Factory module of Plotly, which
# defines many unique and powerful plots to be used
# in Python. 
# For more info, see: https://plot.ly/python/figure-factory-subplots/
import plotly.figure_factory as ff

corrs = df.corr(numeric_only=True)

@interact
def plot_corrs(colorscale=cscales):
    figure = ff.create_annotated_heatmap(z = corrs.round(2).values, 
                                     x =list(corrs.columns), 
                                     y=list(corrs.index), 
                                     colorscale=colorscale,
                                     annotation_text=corrs.round(2).values)
    iplot(figure)
    ## If you are using Google Colab, comment out the above line of code and uncomment the line below
    #figure.show(renderer="colab")

### Example 6

Interaction can also be extremely useful when we want to try and view various configurations for a plot that we are trying to produce. 

The following code allows us to add some options to control the colour scheme of a given Plotly chart. Here we call the `@interact_manual` decorator, which allows us to select multiple variables before our chart is updated.

In [ ]:
@interact_manual
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:],
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    if x == y:
        print(f"Please select separate variables for X and Y")
    else:
        df.iplot(kind='scatter', x=x, y=y, mode='markers', 
                 xTitle=x.title(), yTitle=y.title(), 
                 text='title',
                 title=f'{y.title()} vs {x.title()}',
                theme=theme, colorscale=colorscale)
        ## If you are using Google Colab, comment out the above line of code and uncomment the line below
        #fig = px.scatter(df, x=x, y=y, title=f'{y.title()} vs {x.title()}')
        #fig.show(renderer="colab")

### Example 7

The decorator ```@interact``` is not the only way to use widgets. 

Read through the following example to figure out how else we can use widgets.

In [ ]:
df.set_index('published_date', inplace=True)

In [ ]:
def print_articles_published(start_date, end_date):
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)
    stat_df = df.loc[(df.index >= start_date) & (df.index <= end_date)].copy()
    total_words = stat_df['word_count'].sum()
    total_read_time = stat_df['read_time'].sum()
    num_articles = len(stat_df)
    print(f'According to our dataset, published by Medium.com, there are {num_articles} articles between {start_date.date()} and {end_date.date()}.')
    print(f'These articles totalled {total_words:,} words and {total_read_time/60:.2f} hours to read.')
    
_ = interact(print_articles_published,
             start_date=widgets.DatePicker(value=pd.to_datetime('2018-01-01')),
             end_date=widgets.DatePicker(value=pd.to_datetime('2019-01-01')))

### Example 8

For our final example, we use the `Dropdown` and `DatePicker` widgets to plot one column cumulatively up to a certain time.

In [ ]:
def plot_up_to(column, date):
    date = pd.Timestamp(date)
    plot_df = df.loc[df.index <= date].copy()
    plot_df[column].cumsum().iplot(mode='markers+lines', 
                                   xTitle='published date',
                                   yTitle=column, 
                                  title=f'Cumulative {column.title()} Until {date.date()}')
    
_ = interact(plot_up_to, column=widgets.Dropdown(options=list(df.select_dtypes('number').columns)), 
             date = widgets.DatePicker(value=pd.to_datetime('2019-01-01')))

## Summary

Jupyter Notebook is a great data exploration and analysis environment. Using tools like notebook extensions and interactive widgets makes our job as data-driven storytellers even more efficient. Widgets are powerful tools that allow us to make our data more interactive and, therefore, more accessible to non-data scientists.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:140px";/>
</div>